*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

/* #myTitle
{
    background-color: rgb(33, 33, 107);
    color: white;
    font-weight: 500;
    font-size: xx-large;
} */

/* #userPW
    {
        text-align: left;
        text-shadow: blueviolet;
    } */